@model AgendaManager.Infrastructure.Users.Emails.SendRecoveryPassword.SendRecoveryPasswordViewModel

@{
  ViewData["Title"] = "Recuperar contrase単a";
}

<h1>Recuperar contrase単a</h1>

<p>Hola @Model.Email</p>, para recuperar tu contrase単a sigue el siguiente enlace:

<a href="@Model.Token">Recuperar contrase単a</a>
