@model AgendaManager.Infrastructure.Users.Emails.SendRecoveryPassword.SendRecoveryPasswordViewModel

@{
  ViewData["Title"] = "Recuperar contraseña";
  ViewData["SiteName"] = Model.SiteName;
}

<h1>@ViewData["Title"]</h1>

<p>Hola,</p>

<p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta (@Model.Email).</p>

<p>Para crear una nueva contraseña, haz clic en el siguiente enlace:</p>

<a href="@Model.ResetLink" class="button">Restablecer Contraseña</a>

<p>Si no solicitaste este cambio, puedes ignorar este mensaje. El enlace caducará en @Model.ExpirationHours horas por
  seguridad.</p>
